:root {
    --blue:#226fce;
    --lightblue: #e8f8ff;
    --orange: #fa0;
    --teal: #28c3b1;
    --spacing: .5rem;
}
* {
    box-sizing: border-box;
    font-family: 'Segoe UI','微軟正黑體','sans-serif';
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    vertical-align: top;
}

h2 {
    font-size: 2.5rem;
}