<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="input" v-on:keyup.enter="test()">
        <div>
            <input type="radio" name="gender" v-model="gender" value="男">
            <label for="">男</label>
            <input type="radio" name="gender" v-model="gender" value="女">
            <label for="">女</label>

            <div>{{gender}}</div>
        </div>
        <button @click="test()">click</button>
        <div>{{input}}</div>
    </div>
    <script>
        Vue.createApp({
            data(){
                return {
                    input: 'hello',
                    gender: '尚未選擇性別'
                }
            },
            methods:{
                test(){
                    alert(this.input);
                }
            }
        }).mount('#app');
    </script>
</body>
</html>