<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>

</head>
<body>
    <div id="app">
        <form action="">
            <input type="text" v-model="input">
            <input type="submit" value="新增事項" @click.prevent="addTodoItem()">
        </form>
        <div v-show="unCompletedTodos.length > 0">
            <h2>未完成</h2>
            <ul>
                <li v-for="todo,idx in unCompletedTodos" :key="todo.id">
                    <input type="checkbox" v-model="todo.isCompleted">
                    {{todo.name}}
                    <button @click="deleteTodoItem(todo.id)">刪除</button>
                </li>
            </ul>
        </div>
        <div v-show="completedTodos.length > 0">
            <h2>已完成</h2>
            <ul>
                <li v-for="todo,idx in completedTodos" :key="todo.id">
                    <input type="checkbox" v-model="todo.isCompleted">
                    {{todo.name}}
                    <button @click="deleteTodoItem(todo.id)">刪除</button>
                </li>
            </ul>
        </div>
    </div>
    <script>
        Vue.createApp({
            data(){
                return {
                    input:'',
                    todos:[
                        {
                            id:1,
                            name: '做作業',
                            isCompleted: false,
                        },
                        {
                            id:2,
                            name: '洗衣服',
                            isCompleted: true,
                        },
                        {
                            id:3,
                            name: '寄掛號',
                            isCompleted: false,
                        },
                    ]
                }
            },
            methods:{
                addTodoItem(){
                    if(this.input === ''){
                        alert('請輸入項目');
                        return;
                    }
                    this.todos.push({
                        id: Date.now(),
                        name: this.input,
                        isCompleted: false
                    });
                    this.input = '';
                },
                deleteTodoItem(id){
                    console.log(id);
                    if(confirm('確認刪除？')){
                            // this.todos.splice(idx,1);
                        this.todos = this.todos.filter(data => data.id != id);
                    }
                }
            },
            computed:{
                completedTodos(){
                    return this.todos.filter(data => data.isCompleted === true);
                },
                unCompletedTodos(){
                    return this.todos.filter(data => data.isCompleted === false);
                },
            }
        }).mount('#app');
    </script>
</body>
</html>